.App {
  text-align: center;
}

.App-header {
  font-family: "KC Pixel Hand";
}

.Dictionary-form input {
  width: 30%;
}

.Photos img {
  max-width: 30%;
}

ul.Synonyms {
  list-style: none;
  padding: 15px;
}

li.Synonyms {
  display: inline-block;
}

.Meaning-example {
  font-style: italic;
}
