.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: purple;
  margin: 0 0 20px 0;
}

.App-heading {
  font-family: "KC Pixel Hand";
}

.Dictionary-form input {
  width: 30%;
}

.Photos img {
  max-width: 30%;
}

ul.Synonyms {
  list-style: none;
  padding: 15px;
}

li.Synonyms {
  display: inline-block;
}

.Meaning-example {
  font-style: italic;
}
